


<div class="container" style="padding-top:30px">

<div class="col-md-6 mx-auto">  
  <h1>ADD PRODUCT</h1>
     
        <form class="form" action="/login" method="POST">
          <div class="form-group">
            <label for="itemName">Item Name</label>
            <input type="text" class="form-control" id="itemName" name="itemName">
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price">
          </div>
         

          <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl">
          </div>

          
          <div class="form-group shadow-textarea">
          <label for="description">Description</label>
            <textarea class="form-control z-depth-1" id="description" name="description" rows="6" placeholder="Add product description..........."></textarea>
          </div>      

          <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    
 
</div>
</div>