<div class="row mt-3">
    <div class="col-3 mx-auto">
        <img class="img-fluid" src="{{product.imageUrl}}">
    </div>

    <div class="col-9 mx-auto">
        <h3 style="font-size:4vw; color:red">{{product.itemName}}</h3>
        <p style="font-size:4vw;"> {{ product.description }}</p>
        <p class="align-content-end" style="font-size:2.0vw;">${{ product.price }}.00</p>          
    </div>
</div>

