<h1>Welcome to the details page of the: {{ product.itemName }}</h1>
<hr>
<h3>Description:</h3>
<p> {{ product.description }}</p>
<hr>
<h3>Gallery:</h3>
<img src="{{product.imageUrl}}" alt="" width="300">