body {
  max-width: 1264px;
  margin: 0px auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



button a{
  color:white;
}

.card{
  margin-top:20px;
}
/*
.card-content img{
  height:200px;
  width:200px;
}*/

button{
  margin: 6px;
}

//products styling

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.shopping-cart-description{  
    background-color: #bfbcbc;
    color:white;
    padding: 5px 0px;
}

.shopping-cart-items{   
  padding: 5px 0px;
}

.img {
  position: relative;
  float: left;
  width:  100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

//Footer

.footer-links{
  color:#636262;
  text-decoration: none;
}

div > p > a, a:hover,a:visited, a:focus{
  color:#636262;
  text-decoration: none;
}

div > h5 > a, a:visited, a:focus{
  color:#636262;
}

div > h5 > a:hover{
  color:#e95a5a;
}
